$nav-bar-height: 80px;
$articles-switch-button-size: $nav-bar-height * 0.5;

.container {
  width: 100%;
  height: $nav-bar-height;
  position: relative;
}

.switch-button-container {
  right: 0;
  margin: 0 40px 0 0;
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.switch-button-label {
  display: table-cell;
  margin-right: 5px;
  font-size: 11px;
  margin-top: auto;
  margin-bottom: auto;
  transition: 0.7s;
  opacity: 0;
}

.switch-button-container:hover .switch-button-label {
  opacity: 100;
}

.switch-button {
  display: table-cell;
  cursor: pointer;
}

.switch-button .toggle{
  --size: #{$articles-switch-button-size};
  width: var(--size);
  height: calc(var(--size) / 2);
  position: relative;
  background: #fff;
  border-radius: var(--size);
  box-shadow: rgb(0 0 0 / 20%) 0 0 10px;
}

.switch-button .toggle .btn{
  width:calc(var(--size) / 2);
  height:100%;
  position:absolute;
  left:0;
  background:#bbb;
  border-radius:50%;
  transition:all ease 0.5s;
}

.switch-button input:checked + .toggle .btn{
  left:50%;
  background:#008ffc;
}

.switch-button input:disabled + .toggle{
  background:#ddd;
}

.switch-button p{
  margin:8px 0;
  font-size:0.75em;
  color:#333;
}
