//NAVBAR GENERAL
$nav-bar-height: 80px;
$nav-bar-margin-x: 20px;
$nav-bar-bg-color: #ebf4fa;

//NAVBAR BUTTONS
$nav-bar-button-font-size: 16px;
$nav-bar-button-bg-color: white;
$nav-bar-button-text-color: black;
$nav-bar-button-border-color: #960303;

.container {
  display: flex;
  width: 100%;
  height: $nav-bar-height;
  background-color: $nav-bar-bg-color;
}

.left-navbar-section {
  width: 50%;
  position: relative;
  margin-left: $nav-bar-margin-x;
}

.right-navbar-section {
  width: 50%;
  position: relative;
  margin-right: $nav-bar-margin-x;
}

#buttons {
  width: 80vw;
  margin: auto;
  text-align: center;
}

.login-button-container {
  right: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-button {
  font-size: $nav-bar-button-font-size;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $nav-bar-button-font-size;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5%;
  padding: 5px 10px 5px 10px;

  &__login-button {
    @extend .button;
    background-color: $nav-bar-button-bg-color;
    color: $nav-bar-button-text-color;
    border: 2px solid $nav-bar-button-border-color;

    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    &__right {
      @extend .button__login-button;
      right: 0;
    }

    &__left {
      @extend .button__login-button;
      left: 0;
    }
  }

  &__login-button:hover {
    background-color: $nav-bar-button-border-color;
    color: $nav-bar-button-bg-color;
  }
}
