$tablet: 900px;
$mobile: 500px;

$main-top-margin: 50px;
$main-side-padding: 20px;

.container {
  width: 80%;
  margin: $main-top-margin auto;

  @media screen and (max-width: $tablet) {
    width: 90%;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.header {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  padding: 50px 0;
}

.description {
  text-align: justify;
  font-size: 22px;
  font-weight: 400;
  padding: $main-side-padding 0;
}

.content {
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
  padding: $main-side-padding 0;
}

.nav-arrow {
  height: 3em;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &-left {
    @extend .nav-arrow;

    &:hover {
      transform:  translate(-1em, 0);
    }
  }
}